* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    margin: 1.4%;
    background-color: #262626;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Boxes and other general stuff */
.box {
    display: flex;

    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    border-radius: 10px;
    color: white;
    text-align: center;

    /* The sidebar menu */
    .sidebar {
        display: flex;
        flex-direction: column;

        border-radius: 10px 0 10px 0;
        background-color: rgba(0, 0, 0, 0.5);

        width: 8%;
        padding-top: 10px;
        height: 100%;

        .sidebar-entry {
            padding: 6px 0 6px 0;
            text-decoration: none;
            font-size: 25px;
            color: white;
            display: block;

            &:hover {
                color: gray;
            }

            &#logout {
                align-items: center;
                justify-content: center;
                display: flex;

                margin-top: auto;
                margin-bottom: 15px;
            }

            button {
                background: none !important;
                border: none;

                padding: 6px 0 6px 0;
                text-decoration: none;
                font-size: 25px;
                color: white;
                display: block;
            }
        }
    }

    .box-item {
        flex: 1 0 auto;

        /* Header Box */
        .box-header {
            border-bottom: 1px solid gray;
            padding-bottom: 8px;

            .header-title {
                text-align: left;
                padding: 12px 0 12px 20px;

                h1 {
                    font-size: 20px;
                }

            }
        }

        .box-content {
            padding-top: 20px;
        }
    }


    .content-table {
        margin-top: 15px;
        color: white;
        margin-left: auto;
        margin-right: auto;
        width: 1500px;
    }

    table th, td {
        border: 1px solid white;
        border-collapse: collapse;
    }


}