.header
    .header-title
        h1 Homepage

.sidebar
    a#homepage.sidebar-entry(href='#') Homepage
    a#songs.sidebar-entry(href='#') Collection
    a#users.sidebar-entry(href='#') Users
    a#admin-panel.sidebar-entry(href='#') Admin Panel
    a#login.sidebar-entry(href='#') Login