.homepage {

}

.box {
    background-color: rgba(0, 0, 0, 0.5);
    height: 94%;
    margin-top: 0.5%;
    margin-left: 172px;
    border-radius: 10px;
    color: white;
    text-align: center;

    h1 {
        margin-top: 0;
    }
}