html
    head
        include ../includes/head
        link(rel='stylesheet' href='/css/collection/index.css')
    body
        div.box

            div.box-item
                div.box-header
                    div.header-title
                        h1 Login or register!
                div.box-content
                    div.login-box
                        h1 Login Required!
                        form.login-form(action='/api/auth/login' method='post')
                            h4 Einloggen mit Email und Passwort!
                            div.login-email
                                label.form-label(for='loginMail') Ihre E-Mail-Adresse
                                input#loginMail.form-control(type='email' placeholder='E-Mail-Adresse eingeben ...' name='email' required='required')
                            div.login-password
                                label.form-label(for='loginPassword') Ihr Passwort
                                input#loginPassword.form-control(type='password' placeholder='Passwort eingeben ...' name='password' required='required')
                            div.login-submit
                                button(type='submit') Anmelden


