html
    head
        include ../includes/head
        link(rel='stylesheet' href='/css/collection/index.css')
    body
        div.box
            include ../includes/sidebar

            div.box-item
                div.box-header
                    div.header-title
                        h1 Collection

                include ../includes/songTable
