html
    head
        include ../includes/head
        link(rel='stylesheet' href='/css/homepage/index.css')
    body
        include ../includes/sidebar
        div.homepage
            div.box
                h1 WHEN IMPLEMENTED OTHER THINGS THIS WILL HAVE MORE :3
                p Here will be an overview of all the panels, but firstly I need to code the panels
