html
    head
        include ../includes/head
        link(rel='stylesheet' href='/css/homepage/index.css')
    body
        div.box
            include ../includes/sidebar

            div.box-item
                div.box-header
                    div.header-title
                        h1 Homepage

                div.header-title
                    h1 All Songs
                include ../includes/songTable


                div.header-title(style="padding-top: 30px;")
                    h1 All Users
                include ../includes/userTable